/* Temp custom CSS. TODO: Remove after redesign */

.post .subscribe-bait {
  padding-bottom: 0;
}

.post .subscribe-bait .btn {
  vertical-align: baseline;
  height: 28px;
  line-height: 26px;
  padding: 0 5px;
}

.post .subscribe-bait .twitter-follow-button-rendered {
  vertical-align: bottom;
}

.post .subscribe-bait p {
  line-height: 28px;
}

.post figure .twitter-tweet {
  margin-left: auto;
  margin-right: auto;
}

/* stop bootstrap from clobbering rem font sizes */
.post .post-content pre.highlight,
.post .post-content code,
.post .post-content blockquote
{
  font-size: inherit;
  line-height: inherit;
}
