.worddef {
  &--function {
    font-size: 60%;
    font-variant: small-caps;
  }

  &--ipa {
    margin-top: 0.5em;
    opacity: 70%;
    &::before, &::after {
      content: "/";
    }
  }

  &--definition-list {
    padding-left: 1em;
  }

  &--definition {
    margin: 1em 0;
    padding-left: 0.3em;
  }

  &--example {
    font-style: italic;
    opacity: 70%;
    display: block;
    margin: 0.5em 0;
    &::before { content: "\201C"; }
    &::after { content: "\201D"; }
  }

  &--section-title {
    margin-top: 1em;
  }
}
