<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> &mdash; Tom Dalling</title>
    <link rel="stylesheet" href="/style.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <meta name="twitter:site" content="@tom_dalling">
    <meta name="twitter:creator" content="@tom_dalling">
    <link rel="alternate" type="application/rss+xml" title="Tom Dalling" href="https://www.tomdalling.com/blog/feed/" />
  </head>

  <body>

    <nav class="tw-mb-6 tw-py-2 tw-bg-gray-100 tw-border-b tw-border-gray-200 tw-font-title">
      <div class="container tw-space-x-8">
        <a href="/" class="tw-text-xl tw-text-black">Tom Dalling</a>
        <a href="/blog/" class="tw-text-black">Blog</a>
      </div>
    </nav>

    <div class="container">

      <div class="row">

        <main class="col-md-8">
          Content of page goes here
        </main>

        <div class="col-md-4 sidebar">

          <div class="panel panel-default">
            <div class="panel-heading">Subscribe</div>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="/blog/feed/">
                  <i class="fa fa-rss"></i> RSS
                </a>
              </li>
              <li class="list-group-item">
                <a href="https://twitter.com/tom_dalling">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
              </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Recent Posts</div>
            <ul class="list-group recent-posts">
              <li class="list-group-item">
                <a href="/blog/expaining-homogenous-coordinates/">
                  Explaining Homogenous Coordinates &amp; Projective Geometry
                </a>
              </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Blog Categories</div>
            <ul class="list-group categories">
              <li class="list-group-item">
                <a href="/category/cocoa" class="category">Cocoa</a>
                (<span class="post-count">13</span>
                <a class="feed" href="/category/cocoa/feed/"><i class="fa fa-rss"></i></a>)
              </li>
            </ul>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Blog Archives</div>
            <ul class="list-group archives">
              <li class="list-group-item">
                <a href="/archives/2014/" class="year">2014</a>
                (<span class="post-count">1</span>)
              </li>
            </ul>
          </div>

        </div>
      </div>

      <footer class="page-footer">
        <p>&copy; 2009 &ndash; <span class="current-year">2014</span> Tom Dalling</p>

        <p class="social">
          <a href="https://twitter.com/tom_dalling">
            <i class="fa fa-lg fa-twitter"></i>
          </a>
          <a href="https://github.com/tomdalling">
            <i class="fa fa-lg fa-github"></i>
          </a>
          <a href="https://stackoverflow.com/users/108105/tom-dalling">
            <i class="fa fa-lg fa-stack-overflow"></i>
          </a>
          <a href="mailto:tom at tomdalling com">
            <i class="fa fa-lg fa-envelope"></i>
          </a>
        </p>
      </footer>

      <script src="/bundles/all.js"></script>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$$','$$']],
            displayMath: [['[blockmath]', '[/blockmath]']]
          }
        });
      </script>
      <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </body>
</html>
