<div class="post-list">
  <h1>
    <span class="title">Posts</span>
    <a href="/blog/feed/" class="rss" title="RSS feed">
      <i class="fa fa-rss"></i>
    </a>
  </h1>

  <article class="post post-listed">
    <header>
      <h2><a href="/example-blog-post/">Example Blog Post</a></h2>
      <small class="meta">
        <span class="post-date">31 May, 2009.</span>
        &mdash;
        Category: <a class="category" href="/blog/category/whatever/">Whatever</a>
      </small>
    </header>

    <img class="listed-main-image" src="http://lorempixel.com/400/300/animals/" />

    <div class="post-content">
      <p>Short description goes here. This is the part that is shown in
      a list of posts.</p>
    </div>

    <footer>
      <a class="btn btn-default more" href="/example-blog-post/">
        Read full post <i class="fa fa-angle-double-right"></i>
      </a>
    </footer>
  </article>
</div>
